body{
	width: 700px;
	font-size: 16px;
}

input[type="number" i]{
   width: 4em;
}

fieldset{
	padding: 10px;
}

div{
	padding: 5px;
}

legend{
	font-weight: bold;
}
.roundButton{
	border-radius: 22px;
	border-width: thin;
}