body{
	font-size: 16px;
}

input[type="number" i]{
   width: 4em;
}

fieldset{
	padding: 10px;
}

div{
	padding: 5px;
}

legend{
	font-weight: bold;
}

.roundButton{
	border-radius: 22px;
	border-width: thin;
}

.title{
	font-size: 20px;
	font-weight: bold;
}

.content {
  margin: auto;
  width: 50%;
  padding: 10px;
}