body{
	font-size: 16px;
}

input[type="number" i]{
   width: 4em;
}

fieldset{
	padding: 10px;
}

div{
	padding: 5px;
}

legend{
	font-weight: bold;
}

.title{
	font-size: 20px;
	font-weight: bold;
}

.content {
  margin: auto;
  width: 50%;
  padding: 10px;
}

button{
	background-color: aliceblue;
}

button:hover {
  background-color: azure; 
  cursor: pointer;
}

.textButton {
  border: none;
  color: darkslategray; 
  padding: 8px 15px;
  text-align: center;
  display: inline-block;
}

.buttonClicked, .buttonClicked:active {
  background-color: mistyrose !important;
  transform: translateY(1px);
  color: gray; 
}


.roundButton{
	border-radius: 22px;
	border-width: thin;
}
